{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.registration'|trans }}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white mb-4 shadow-sm">
        <div class="container tm-container-small">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.svg" alt="EasyShop" style="height:32px;">
            </a>
            <div class="ms-auto d-flex align-items-center">
                {% if app.request.host == landing_host %}
                    {% include '_language_switcher.html.twig' %}
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container tm-container-small tm-mt-60 tm-mb-74">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center tm-text-primary mb-4">{{ 'auth.registration'|trans }}</h1>
                <div class="tm-bg-gray p-5 rounded shadow-sm">
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                    <div class="form-group mb-4">
                        {{ form_label(registrationForm.email, null, {'label': 'common.email'|trans, 'label_attr': {'class': 'mb-2 fw-bold'}}) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mb-2'}}) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    <div class="form-group mb-4">
                        {{ form_label(registrationForm.plainPassword, 'common.password'|trans, {'label_attr': {'class': 'mb-2 fw-bold'}}) }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control mb-2'}}) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block tm-btn-big">{{ 'auth.submit_register'|trans }}</button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}